{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_thumblinks_action/thumblinks_actions

    This template renders the main content area for the mcms block.

    Example context (json):
    {
       "articles":[
          {
             "imageurl":"",
             "linkurl":"",
             "categories":[

             ],
             "date":"",
             "title":""
          }
       ],
       "count":1
    }
}}

<div id="block-vetagro-news-{{uniqid}}" class="block-vetagro-news block-cards">
    <div class="container-fluid">
        <div class="glide d-none">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {{#articles}}
                        <li class="glide__slide">
                            <a href="{{ linkurl }}" class="d-block position-relative" style="background-image:url({{imageurl}});">
                                <div class="categories font-italic d-none d-md-inline-block m-2">
                                    {{#categories}}
                                        <span class="btn btn-primary">{{ text }}</span>
                                    {{/categories}}
                                </div>
                                <div class="slide-content position-absolute fixed-bottom d-block">
                                    <div class="text-white text-truncate d-none d-md-block">{{#userdate}} {{date}}, {{#str}} strftimedate {{/str}} {{/userdate}}</div>
                                    <div class="font-weight-bolder text-white text-truncate  d-none d-md-block">{{ title }}</div>
                                </div>
                            </a>
                        </li>
                    {{/articles}}
                </ul>
            </div>
        </div>
    </div>
</div>


{{#js}}
    require(['block_vetagro_news/glide'], function(glide) {
        glide('#block-vetagro-news-{{uniqid}} .glide', {
            type: 'carousel',
            startAt: 0,
            perView: 4,
            // xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px
            breakpoints : {
                576: {
                    perView: 1,
                },
                768: {
                    perView: 2,
                },
                992: {
                    perView: 4,
                },
                1200: {
                    perView: 5,
                },
            },
            gap: 40,
            autoplay: {{ scrolltimer }}
        }
    );
    });
{{/js}}